.section-useful-content {
    
    background-color: #FFF7F0;
    border-radius: 48px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
   
    text-align: justify;
    height: 70px;
    width: 80%;
}

