#root {
  height: 100%;
}

.banner-text {
  font-family: "Montserrat", serif;
  font-weight: "600";
  text-align: center;
}

.btn-blue {
  background-color: #1e78c7;
  color: white;
}

.btn-blue:hover {
  background-color: #1a6bb3;
  color: white;
}

.table-header {
  background-color: #def3ff;
}

html {
  line-height: normal;
  position: relative;
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* padding-top: 53px; */
  padding-bottom: 64px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a img {
  border: none;
}

q {
  quotes: none;
}
q:before {
  content: "";
  content: none;
}
q:after {
  content: "";
  content: none;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article {
  display: block;
}

aside {
  display: block;
}

details {
  display: block;
}

figure {
  display: block;
}

figcaption {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

hgroup {
  display: block;
}

menu {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

summary {
  display: block;
}

main {
  display: block;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;
}

.main {
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
