.searchContainer {
  border: none;
  background-color: #ededed;
  border-radius: 2rem;
  padding: 0;
  margin: 0 auto;
}

.searchContainer button {
  border: none;
  margin: 0;
  background-color: #f85f36;
  color: #000;
}
