.book {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: #F4E2D3;
    margin: 1%;
    border-radius: 1em;
    justify-content: space-between;
}

.book h2 {
    font-size: 2em;
    font-weight: bold;
}

.book img {
    flex: 1;
}

.details {
    flex: 2;
    padding: 0 1em;
}

.details p {
    margin: 1em 0;
}